.red-box {
  background-color: red;
  height: 100px;
  width: 200px;
  z-index: -0;
}

.blue-box {
  background-color: blue;
  height: 50px;
  width: 100px;
}

#relative-no-params {
  position: relative;
}

#relative-params {
  position: relative;
  top: 30px;
  left: 25%;
}

.relative-no-params {
  position: relative;
}

#absolute-params {
  position: absolute;
  left: 25%;
  top: 50%;
}

#absolute-fifty {
  position: absolute;
  left: 50%;
  top: 50%;
}

#absolute-translate {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#absolute-no-params {
  position: absolute;
}

#fixed {
  position: fixed;
  bottom: 2px;
  left: 0px;
}

.green-line {
  background-color: green;
  width: 100%;
  height: 2px;
}
