@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: rgb(67, 67, 67);
  margin: 0;
  font-size: 16pt;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0.5em;
  text-align: justify;
}

li {
  margin-top: 0.75em;
}

h3 {
  margin-bottom: 0.5em;
}
img {
  max-width: 100%;
  margin: auto;
}

button {
  border-width: 0;
}

/* .divider {
  display: flex;

  &:before,
  &:after {
    content: '';
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 0.5em -0.5em;
  /* &:before,
  &:after { 
  height: 1px;
  margin: 0 5em;
  /* } 
}

.glow {
  &:before,
  &:after {
    height: 4px;
    -webkit-filter: blur(5px);
    border-radius: 5px;
  }
  &:before {
    background: linear-gradient(to right, aqua, #021bff);
  }
  &:after {
    background: linear-gradient(to left, #ff02d1, #021bff);
  }
} */

.p-link {
  color: rgb(0, 72, 255);
}

.center {
  text-align: center;
}

.center-img {
  display: block;
  margin: auto;
}

.container {
  background-color: #fffcf8;
  padding: 1.5em;
  margin: 1em 10% 1em 10%;
}

.sea-edge {
  max-height: 10em;
  width: 100%;
  object-fit: cover;
}

.heading-container {
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 1em;
}

.heading {
  position: absolute;
  top: 20%;
  left: 5%;
}

.blog-title {
  margin: 0 0 0 8%;
  color: #fdf8f1;
}

.image-cropper {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  overflow: hidden;
}

#heading-profile {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

#profile-pic {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: -25%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.wrap-row {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 50%;
  margin-bottom: 2em;
}

.align-left {
  flex-wrap: wrap;
  align-content: flex-start;
}

.col-centre {
  align-items: center;
}

.col-centre-vert {
  justify-content: center;
}

.small-img {
  max-width: 75%;
  height: auto;
}

.img-width-50 {
  max-width: 50%;
  height: auto;
}

.blog-link-card {
  font-size: large;
  /* background-color: bisque; */
  width: fit-content;
  max-width: 270px;
  margin-top: 1em;
  border-radius: 2em 2em 1em 1em;
}

.blog-card-bg {
  /* margin: 0; */
  position: relative;
  top: -0.3em;
  max-width: 100%;
  max-height: 2em;
  overflow: hidden;
  border-radius: 0 0 1em 1em;
}

.blog-link-name {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  white-space: nowrap;
}

.blog-link-img {
  max-width: 15em;
  height: auto;
  border-radius: 2em 2em 0 0;
}

.indent {
  margin-left: 1em;
}

.jump-button {
  position: relative;
  padding: 0.5em 0.75em 0.5em 0.75em;
  background-color: #079fdb;
  border-radius: 0.8em;
  margin-left: 2em;
  color: #fff7e5;
  font-weight: 600;
}

.slightly-bigger-text {
  font-size: 1.25em;
}

.margin-top-2 {
  margin-top: 2em;
}

.h3-inline {
  font-size: 1.17em;
  font-weight: bold;
  margin-left: -0.5em;
}

.font-size-sml {
  font-size: small;
}

.home-page-icon {
  width: 10%;
  margin-left: 5%;
  color: #fdf8f1;
  align-items: center;
}

.hide-image {
  visibility: hidden;
  max-height: 0;
}

.hide-images-btn {
  padding: 0.5em 0.75em 0.5em 0.75em;
  background-color: #c92bb9;
  border-radius: 0.8em;
  margin-left: 2em;
  color: #fff7e5;
  font-weight: 600;
}

@media (max-width: 600px) {
  body {
    font-size: 13pt;
  }

  .container {
    padding: 0.5em;
  }

  .small-img {
    max-width: 100%;
  }

  .row {
    flex-direction: column;
  }

  .keep-row {
    flex-direction: row;
  }

  .col-rev {
    flex-direction: column-reverse;
  }

  .heading-container {
    text-align: left;
  }

  .heading {
    top: 0;
    width: 50%;
  }

  .blog-title {
    margin-left: 0.5em;
  }

  #heading-profile {
    height: 100px;
    width: 100px;
  }

  .column {
    flex: 100%;
    justify-content: center;
    margin-bottom: 2em;
  }

  .container {
    margin: 0.5em;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 1em 20% 1em 20%;
  }

  .index-container {
    padding: 1.5em;
    margin: 1em 10% 1em 10%;
  }
}
