a {
  text-decoration: none;
}

.container {
  margin: 2em;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  margin-bottom: 2em;
}

.col-centre {
  align-items: center;
}

.small-img {
  max-width: 75%;
  height: auto;
}

.blog-link-card {
  text-align: center;
  font-size: large;
  background-color: bisque;
  width: fit-content;
  border-radius: 2em 2em 1em 1em;
}

.blog-link-img {
  max-width: 15em;
  height: auto;
  border-radius: 2em 2em 0 0;
}

.indent {
  margin-left: 1em;
}

.jump-button {
  padding: 0.25em;
  background-color: #079fdb;
  border-radius: 1.3em;
  margin-left: 2em;
  color: rgb(255, 255, 255);
}
